html {
background-image: url("https://www.publicdomainpictures.net/pictures/170000/velka/portrait-background-1.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
color:yellow;
font-family:"TIMES NEW ROMAN";
font-size:medium;
font-style:italic;
}
#hd {padding: 50px;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  width:83.5%;
  height:75px;
  background-color: #ff751a; 
  border: 1px solid black;
  background-color:#800080;
  border: 1px solid black;
  }

#lnav {
  width: 14%;
  height: 400px;
  float: left;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 10px;
  background-color:#800080;
  opacity: 0.8;
}
#bd {
  width: 56.9%;
  height: 400px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  border: 1px solid black;
  overflow: auto;
  background-color:#800080;
}
#rnav {
background-color:#800080 ;
  width: 18%;
  height: 400px;
  float: right;
  margin-left: 10px;
  margin-right: 60px;
  border: 1px solid black;
  opacity: 0.8;
}

#ft {
  padding: 10px;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  width:89.5%;
  height:60px;
  border: 1px solid black;
  background-color:#800080;
  opacity: 0.8;
} 
a:link {
font-size:15px;
color:yellow;
}
a:hover {
font-size:20px;
color:#39ff14;
}
a:visited {
color:red;
font-size: 15px;
}
ul {
text-decoration:none;
}

ul.hlist {
color: black;
positiom: relative;
text-align: center;
}

